body{
	background-color: #99ccff;
}

div#header ul li {
	float: left;
	list-style: none;
	width: 19%;
	font-size: 20px;
	border: 1px solid #000000;
	background-color: #555555;
}

div#header div#logo img{
	margin: auto 31%;
	padding: 0.5%;
	border-color: #88aa66;
	border-style: outset;
}

div#header ul{
	clear: both;
	text-align: center;
	margin: 0.5% 20%;                                                                                                                                                                                                                                                                                                                                                                                                 
	padding: 10px;
}

a{
	text-decoration: underline;
	color: #cc6600;
}

div#header ul li:hover {
	background-color: #1f1f14;
}

div#wrapper{
	margin: 5%; 
}

div#wrapper img.ad{
	margin-left: 80%;
	margin-top: -10%;
}

div#wrapper div#content{
	clear: both;
	background-color: #ffffff;
}

div#wrapper div#content h1.title{
	padding: 2%;
	margin-top: 5%;
	text-align: center;
}

h1.title{
	text-transform: uppercase;
	font-family: "Lucida Console", Georgia, Serif;
	font-weight: bold;
	font-size: 24px;
	letter-spacing: 2px;
}

p.desc{
	text-align: center;
	padding: 1%;
	font-family: "Gill Sans", Georgia, Serif;
}

.homeimg{
	height: 240px;
	width: 360px;
	margin: 2% auto 2% 2.3%;
	border: 1px solid #000000;
}
